<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div>
            <h3>Join</h3>
            <form action="/user/joinProc" method="post">

              <div>
                <label>ID</label>
                <div>
                  <input type="text" id="user_id" name="user_id" value="">
                </div>
              </div>

              <div>
                <label for="user_password">Password</label>
                <div >
                  <input type="password" id="user_password" name="user_password" value="" >
                </div>
              </div>

              <div>
                <label for="username">Username</label>
                <div>
                  <input type="text" id="name" name="name" value="">
                </div>
              </div>

              <div>
                <button type="submit" >Submit</button>
              </div>
              </form>
        </div>
    </body>
</html>